

$primary-color: hsl(243, 87%, 12%);
$secundary-color: hsl(238, 22%, 44%);
$accent-blue: hsl(224, 93%, 58%);
$accent-cyan: hsl(170, 45%, 43%);
$neutral-blue: hsl(240, 75%, 98%);
$neutral-gray: hsl(0, 0%, 75%);
$primary-font: 'Open Sans';
$secundary-font: 'Raleway';

@mixin inputStyle {
    width: 51%;
    height: 40px;
    margin-right: 10px;
    padding-left: 20px;
    &::-webkit-input-placeholder {
        color: $neutral-gray;
    }
}
@mixin buttonStyle{
    height: 40px;
    padding: 0 60px;
    background-color: $accent-blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background-color: rgba($accent-blue,.6);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $primary-font;
}
h1{
    font-family: $secundary-font;
}
.container{
    width: 100%;
    padding: 3% 5%;
}
nav{
    font-family: $secundary-font;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        list-style: none;
        text-decoration: none;
        li{
            margin-right: 20px;
        }
    }
}
.initial{
    width: 100%;
    height: 80vh;
    margin-bottom: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div{
        width: 50%;
        h1{
            font-size: 2.4em;
            line-height: 1.4em;
            margin-bottom: 20px;
        }
        p{
            width: 95%;
            font-size: 1.1em;
            margin-bottom: 20px;
        }
        input{
            @include inputStyle();
        }
        button{
            @include buttonStyle();
        }
    }
    img{
        width: 50%;
    }
}
.cont-desc{
    background-color: $neutral-blue;
    position: relative;
    & > img{
        width: 100%;
        top: -100px;
        left: 0;
        position: absolute;
    }
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    flex-wrap: wrap;
    div{
        width: 54%;
        h1{
            font-size: 2.4em;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 20px;
            font-size: .96em;
            max-width: 500px;
        }
        a{
            color: $accent-cyan;
            text-decoration: none;
            border-bottom: 1px solid;
            position: relative;
            display: inline-block;
            width: 168px;
            &:hover{
                opacity: .6;
            }
            &::after{
               content: "";
               background-image: url(../images/icon-arrow.svg);
               background-size: cover;
               position: absolute;
               width: 16px;
               height: 16px;
               top: 4px;
               margin-left: 8px;
           }
        }
        .testimonial{
            max-width: 300px;
            height: 200px;
            margin-top: 30px;
            background-color: white;
            padding: 24px;
            border-radius: 4px;
            -webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            img{
                width: 16px;
            }
            p{
                font-size: .75em;
                line-height: 1.6em;
            }
            #avatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
            div{
                display: flex;
                justify-content: center;
                width: 100%;
                div{
                    display: flex;
                    flex-direction: column;
                    p{
                        margin: 0;
                        font-size: .8em;
                        font-weight: bold;
                    }
                    span{
                        font-size: .6em;
                    }
                }
            }
        }
    }
    img{
        width: 40%;
    }
}
.early-access{
    background-color: $secundary-color;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    div{
        width: 42%;
        h1{
            font-size: 1.8em;
            margin-bottom: 15px;
        }
        p{
            color: $neutral-gray;
            font-size: .9em;
            width: 92%;
            letter-spacing: .03em;
        }
    }
    input{
        @include inputStyle();
        width: 80%;
    }
    button{
        @include buttonStyle();
        font-size: .8em;
        padding: 0 30px;
        margin-top: 15px;
    }
}
.footer{
    background-color: $primary-color;
    padding-top: 140px;
    padding-bottom: 60px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    div:last-child{
        margin-right: 0;
    }
    div:nth-child(2) p{
        cursor: pointer;
        &:hover{
            color: $accent-blue;
        }
    }
    div{
        position: relative;
        margin-right: 16%;
        & > img{
            position: absolute;
            width: 140px;
            height: 40px;
            top: -60px;
        }
        p{
            color: $neutral-gray;
            font-size: .9em;
            margin-top: 16px;
            img{
                width: 16px;
                margin-right: 16px;
            }
        }
        i{
            color: $neutral-gray;
            margin-top: 20px;
            margin-right: 10px;
            padding: 6px;
            width: 28px;
            border: 1px solid white;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            &:hover{
                color: $accent-blue;
                border-color: $accent-blue;
            }
        }

    }
}
@import 'responsive';